html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container a {
    font-family: 'Adobe Arabic';
    font-size: 25px;
}

form p label {
    width: 10%;
}

form p input[type="text"], form p input[type="number"], form p select {
    width: 20%;
}

form p span {
    width: 20%;
    color: Red;
}

form p button, table button {
    background-color: #006bff;
    color: #FFF;
}

form p .input-validation-error {
    border: 1px solid Red;
    background-color: #fee;
}

table {
    border: solid 1px #ff6a00;
}

table thead {
    background: #b6ff00;
}

table td, table th {
    padding: 10px;
}
